<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">
<head>
  <meta charset="text/html; UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Dodaj nową kategorię</title>
</head>
<body>
<header th:replace="fragment/header::myheader"> </header>
<main>
<h1>Dodaj nową kategorię</h1>
<form action="#" th:action="@{/admin/product/addCategory}" th:object="${category}" method="post">
  <p>Id: <input type="number" th:field="*{id}" /></p>
  <p>Nazwa kategorii: <input type="text" th:field="*{name}" /></p>
  <p>Kod: <input type="text" th:field="*{code}" /></p>
  <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
</form>
</main>
<footer th:replace="fragment/footer::myfooter"> </footer>
</body>
</html>