<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">

<head>
  <meta charset="text/html; UTF-8">
  <!--  <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Tabela produktów</title>
</head>

<body>

  <header th:replace="fragment/header::myheader"> </header>
  <!-- <header th:replace="fragment/layout::myheader"> </header> -->
  <main>

    <h1>Tabela produktów</h1>
    <div class="content">
      <table class="display table table-bordered" style="width:800px">
        <thead class="text-center">
          <tr>
            <th class="text-right">Id</th>
            <th class="text-left">Nazwa produktu</th>
            <th class="text-left">Waga [kg]</th>
            <th class="text-left">Cena [pln]</th>
            <th class="text-left">Kategoria</th>
            <th class="text-center" colspan="1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${productList}">
            <td class="text-right" th:text="${product.getId()}"></td>
            <td class="text-left" th:text="${product.getName()}"></td>
            <td class="text-left" th:text="${product.getWeight()}"></td>
            <td class="text-center" th:text="${product.getPrice()}"></td>
            <td class="text-center" th:text="${product.getCategory()}"></td>
            <td><a class="btn btn-primary" th:href="@{/user/product/addToCart(id=${product.id})}">Dodaj ko koszyka</a></td>
          </tr>
        </tbody>
      </table>
    </div>


    <h1>Tabela Kategorii</h1>
    <div class="content">
      <table class="display table table-bordered" style="width:800px">
        <thead class="text-center">
          <tr>
            <th class="text-right">Id</th>
            <th class="text-left">Nazwa kategorii</th>
            <th class="text-left">Kod</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="category : ${categoryList}">
            <td class="text-right" th:text="${category.getId()}"></td>
            <td class="text-left" th:text="${category.getName()}"></td>
            <td class="text-left" th:text="${category.getCode()}"></td>

          </tr>
        </tbody>
      </table>
    </div>

    <p th:text="${serverTime}"></p>
  </main>
  <footer th:replace="fragment/footer::myfooter"> </footer>
  <!-- <footer th:replace="fragment/layout::myfooter"> </footer> -->
</body>

</html>