<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">

<head>
  <meta charset="text/html; UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Dodaj nowy produkt</title>
</head>

<body>
  <header th:replace="fragment/header::myheader"> </header>
  <main>
    <h1>Dodaj nowy produkt</h1>
    <form action="#" th:action="@{/product/add}" th:object="${product}" method="post">
      <p>Id: <input type="number" th:field="*{id}" /></p>
      <p>Nazwa produktu: <input type="text" th:field="*{name}" /></p>
      <p>Waga [kg]: <input type="number" step="0.01" placeholder="0" th:field="*{weight}" /></p>
      <p>Cena [pln]: <input type="number" step="0.01" th:field="*{price}" /></p>
      <p>Kategoria: <input type="text" th:field="*{category}" /></p>
      <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
    </form>
  </main>
  <footer th:replace="fragment/footer::myfooter"> </footer>
</body>

</html>