body {
    margin: auto;
    background-color: #BFC0C0;
    color: #483C46;
    width: 1000px;
}

#external {
    font-size: 12px;
    color: #BFC0C0;
    text-decoration: double;
    background-color: #483C46;
    padding: 20px;
}

#mainheader {
    background-color: #594D57;
    color: white;
    padding: 10px;
    margin-top: 0px;
}

h1 {
    text-align: center;
}

.menu {
    list-style: none;
    font-size: 19px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #BFC0C0;
    padding-left: 40px;
    padding-right: 40px;
}

.menu a:hover {
    color: #DFE2E2;
}

.sizes>p {
    margin-bottom: 20px;
}

#em2 {
    font-size: 2em;
}

#em02 {
    font-size: 0.7em;
}

#px15 {
    font-size: 15px;
}

#px10 {
    font-size: 10px;
}

#pt20 {
    font-size: 20pt;
}

#pt25 {
    font-size: 25pt;
}

#pc200 {
    font-size: 200%;
}

#pc100 {
    font-size: 100%;
}

#linklist {
    font-size: 14pt;
}

#pwr {
    list-style-type: circle;
}

#wa {
    list-style-type: armenian;
}

#wb {
    list-style-type: decimal-leading-zero;
}

.links>li {
    list-style-type: square;
}

.links a {
    text-decoration: none;
    color: black;
}

.links a:hover {
    color: #555555;
}

#form {
    margin-top: 20pt;
    margin-left: 20pt;
}

.input {
    margin-bottom: 10pt;
}

#fweight {
    font-weight: bold;
}

#fstyle {
    font-style: italic;
}

#fvariant {
    font-variant: small-caps;
}

#fsize {
    font-size: 20pt;
}

#fcolor {
    color: #483C46;
}

#lheight {
    line-height: 2em;
}

#ffamily {
    font-family: "Times New Roman", Times, serif;
}

#textheader {
    background-color: #594D57;
    color: white;
    padding: 10px;
    margin-top: 0px;
    border-width: 10px;
    border-style: dotted;
    border-color: #ff09d6;
}

thead {
    background-color: #594D57;
    color: white;
    padding: 10px;
    margin-top: 0px;
    border-width: 10px;
    border-style: dotted;
    border-color: #ff09d6;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table tr:nth-last-child(4) {
    background-color: #594D57;
    color: white;
}

table tr:active {
    background-color: #594D57;
    color: white;
}

#RODO:checked {
    background-color: #594D57;
    color: white;
    margin: 10px;
}




@media screen and (max-width: 1000px) {
    table {
        display: none;
    }
}


#tablereplacment {
    display: inline;
    color: red;
    font-size: 500%;
}

#tablereplacment2 {
    display: none;
}

@media screen and (min-width: 1000px) {
    #tablereplacment {
        display: none;
    }
}


@media print {
    table {
        display: none;
    }

    #tablereplacment2 {
        display: inline;
        color: red;
        font-size: 500%;
    }
}

.parent {
    display: block;
    position: relative;
    float: left;
    line-height: 80px;
    background-color: #633501;
    border-right: #CCC 1px solid;
    font-size: 30px;
}

.parent a {
    margin: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.parent:hover>ul {
    display: block;
    position: absolute;
}

.child {
    display: none;
}

.child li {
    background-color: #E4EFF7;
    line-height: 50px;
    border-bottom: #CCC 1px solid;
    border-right: #CCC 1px solid;
    width: 100%;
}

.child li a {
    color: #000000;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 10em;
}

ul ul ul {
    left: 100%;
    top: 0;
    margin-left: 1px;
}

li:hover {
    background-color: #ff7b00;
}

.parent li:hover {
    background-color: #F0F0F0;
}


.expand::before {
    content: "\25BC";
}

input:enabled {
    background-color: #594D57;
    color: white;
    margin: 10px;
}

input:disabled {
    background-color: #000000;
    color: white;
    margin: 10px;
}



input:focus {
    background-color: #ff7b00;
    color: white;
    margin: 10px;
}

p:empty {
    background-color: #594D57;
    color: white;
    margin: 100px;
    width: 100px;
    height: 100px;
}

*:required {
    border: 2px solid red;
}