body {
    padding: 0px;
    margin: 0px;
}

#mainpage {
    background-image: url("img2.jpg");
    height: 1000px;
    padding: 0px;
    margin: 0px;
}

.menu {
    background-color: goldenrod;
    padding: 20px;
    margin-bottom: 30px;
    height: 100px;
    margin-top: 100px;
    text-align: center;

}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#back1 {
    background-image: url('ok_icon.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


#back2 {
    background-image: url('ok_icon.png');
    background-repeat: repeat-x;
    background-position: right bottom;
    background-attachment: fixed;
}

#back3 {
    background-image: url('ok_icon.png');
    height: 50%;
    width: 100%;
    position: absolute;
    background-repeat: space;
    background-attachment: fixed;
}

p {
    font-size: large;
}


div.a {
    position: relative;
    left: 30px;
    width: 400px;
    height: 200px;
    border: 3px solid red;
}

div.b {
    position: absolute;
    left: -20px;
    width: 100px;
    height: 120px;
    border: 3px solid blue;
}

div.c {
    position: absolute;
    left: 150px;
    top: 250px;
    width: 200px;
    height: 120px;
    border: 3px solid green;
}

div.d {
    position: absolute;
    right: 150px;
    width: 200px;
    height: 120px;
    border: 3px solid yellow;
}

div.e {
    position: static;
    width: 400px;
    height: 200px;
    border: 3px solid red;
}

.fl {
    float: left;
    width: 200px;
    height: 120px;
    border: 3px solid blueviolet;
}

.cl {
    clear: both;
    width: 200px;
    height: 120px;
    border: 3px solid black;
}