<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">
<head>
  <meta charset="text/html; UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Edytuj produkt</title>
</head>
<body>
<header th:replace="fragment/header::myheader"> </header>
<main>
<h1>Edytuj produkt</h1>
<form action="#" th:action="@{/student/edit}" th:object="${student}" method="post">
  <p>Id: <input type="text" th:field="*{id}" /></p>
  <p>Nazwa produktu: <input type="text" th:field="*{firstName}" /></p>
  <p>Waga [kg]: <input type="text" th:field="*{lastName}" /></p>
  <p>Cena [pln]: <input type="number" th:field="*{index}" /></p>
  <p><input type="submit" value="Modify" /> <input type="reset" value="Reset" /></p>
</form>
</main>
<footer th:replace="fragment/footer::myfooter"> </footer>
</body>
</html>